---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Meta Description -->
		<meta name="description" content="Saijitan is a platform that simplifies the task of finding the ideal university schedule for you." />
		<meta name="description" content="Saijitan es una plataforma que simplifica la tarea de encontrar el horario universitario ideal para ti." />

		<!-- Meta Keywords -->
		<meta name="keywords" content="university, schedule, optimization, algorithm, students, college, time" />
		<meta name="keywords" content="universidad, horario, optimización, algoritmo, estudiantes, colegio, tiempo" />

		<!-- Meta Author -->
		<meta name="author" content="Neyan Montes" />

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="" />

		<!-- Title -->
		<title>{title}</title>

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
	</head>

	<body class="text-black font-patrick text-xl box-border">
		<slot />
	</body>
</html>
