---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<!-- 最適 時間割 探索 (Saiteki Jikanwari Tansaku) -->
<Layout title="Welcome to SJT">
	<main>
	
	</main>
</Layout>
