---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Feature from '../components/Feature.astro';

import schedule from '../assets/schedule.svg';
import time from '../assets/time.svg';
---

<Layout title="Welcome to SJT">
	<Header />

	<main>
		<section id="home" class="bg-amethyst-50 h-screen p-20 flex justify-between items-center">
			<aside class="w-6/12 flex flex-col gap-6 justify-center">
				<h1 class="text-6xl">
					Make sure you have the best <span class="text-amethyst-500">schedule possible</span>
				</h1>

				<p>You can count on me</p>

				<button class="bg-amethyst-500 text-amethyst-50 px-5 py-2 rounded-xl font-bold hover:bg-amethyst-800 ease-in-out duration-500 w-[100px]">
					Use It
				</button>
			</aside>
			
			<div class="w-6/12 h-full flex justify-center items-center">
				<img src={schedule.src} alt="Hero" class="h-3/4" />
			</div>
		</section>

		<section id="features" class="p-20 h-auto">
			<Feature 
				type="flex-row"
				title="Schedule with less time at the university"
				body="Our innovative platform simplifies the task of finding the ideal university schedule for you. Simply entering your subjects will take care of searching and calculating the most efficient combinations, ensuring that you spend less time at university and more time doing what you love."
				imgsrc={time.src}
			/>
		</section>

		<section id="htu" class="bg-amethyst-50 p-20 flex flex-col justify-center items-center h-screen">
			<h1 class="text-8xl text-amethyst-500">COMMING SOON</h1>
		</section>

		<section id="about" class="p-20 h-auto flex flex-col justify-center gap-5 text-2xl">
			<h1 class="text-3xl">Hi There, 👋</h1>

			<p>I'm <span class="text-amethyst-500">Neyan Montes</span>, also known as XNeyMo, and I'm a frontend developer passionate about the design and construction of websites and web applications, as well as software.</p>

			<p>In my university studies I've always had the possibility of creating my own schedules taking into account the subjects and courses available.</p>

			<p>However, since there are so many options, I've always thought that, perhaps, the schedule I chose is not the most optimal, that is why, in my last semesters I made an Excel with all the possibilities and saw which one was the best for me.</p>

			<p>Until, as a programmer, I decided to create an algorithm to find the best possible schedule, that schedule that I call "perfect" since I didn't spend much time at university.</p>

			<p>I presented this project to my friends and they told me to post it so I could help more college students who are in the same situation, who aren't sure if the schedule they created is really the best one out there.</p>

			<p>I will update this project with more features that I have in mind for the future, such as:</p>

			<ul class="list-disc pl-14">
				<li>Schedule without much space between classes</li>
				<li>Schedule with fewer possible days</li>
			</ul>

			<p>I hope my project is useful to you.</p>
			
			<div>
				<p>Sincerely,</p>
				<span class="text-amethyst-500">Neyan Montes</span> (XNeyMo)
			</div>
		</section>
	</main>

	<Footer />
</Layout>
