@import "tailwindcss";

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-black: #464148;
  --color-white: #ffffff;
  --color-amethyst-50: #faf7fc;
  --color-amethyst-100: #f5eef9;
  --color-amethyst-200: #ebdcf2;
  --color-amethyst-300: #dcc1e6;
  --color-amethyst-400: #c69bd7;
  --color-amethyst-500: #a05fb9;
  --color-amethyst-600: #9054a5;
  --color-amethyst-700: #784388;
  --color-amethyst-800: #63396f;
  --color-amethyst-900: #54325d;
  --color-amethyst-950: #33183a;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--color-white);
  color: var(--color-black);
  font-size: 1.25rem;
}
